body {
  background-color: #2f2f2f;
}

.title {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  color: white;
}

.figureList {
  display: flex;
  flex-flow: row wrap;
  padding: 48px 30px;
}

.figureInfo {
  width: 200px;
  border: 1px solid #9f9f9f;
  border-radius: 4px;
  margin: 10px;
  color: #9f9f9f;
}

.figureImage {
  width: 100%;
}

.footer {
  border-top: 1px solid #9f9f9f;
  display: flex;
  flex: 1;
  margin-top: auto;
}